.attachment_file {
	min-width: 190px; height: 48px;
	color: gray;
	font-size: 12px;
	margin-bottom: 9px;
	white-space: nowrap;
	display: inline-block;
	margin-right: 6px;
	background: #ebebeb;
	padding: 6px; padding-bottom: 0;
	position: relative;
}

.attachment_file:hover .att_title {
	color: black;
}

.attachment_file .att_icon {
	font-size: 41px;
	float: left;
	margin-right: 14px;
	font-weight: normal;
}

.attachment_file div {
	vertical-align: top;
}

.attachment_file .att_title {
	font-size: 14px;
	margin-bottom: 6px;
	display: inline-block;
}

.attachment_file .att_size {
	font-size: 11px;
	display: block;
}

/************************************************/
.att_author {
	font-weight: bold;
	display: block;
}

.att_date {
	font-size: 11px;
	margin-left: 7px;
	font-weight: normal;
}

.att_status {
	color: green;
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 1px;
}

#panel_right .att_status {
    background: transparent;
    left: 50px;
    top: 20px;
    bottom: unset;
}

#panel_right .att_author {
    margin-top: 3px;
}

/************************************************/
/*.attachment_media {
	width: 190px;
	height: 200px;
	background-size: cover;
}
*/
.attachment_media {
	position: relative;
	display: table;	/* inline-block but force line return */
	margin-bottom: 10px;
}

.img_desc {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 12px;
	padding: 4px;
}

.attachment_media:hover .img_desc {
	background: black;
}

.img_desc .att_datetime {
	float: right;
}

.attachment_media img {
	max-width: 200px;
	max-height: 190px;
}

.attachment_media.video::after {
	content: '';
	display: block;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 40px;
	position: absolute;
	left: 0; right: 0; top: 50%;
	text-align: center;
	transform: translate(0, -50%);
	color: white;
}

/************************************************/
#panel_right .attachment_file {
	display: block;
	background: none;
}

.load_more_attachments {
    background: #e0e0e0;
    text-align: center;
    padding: 9px;
    border-radius: 25px;
    font-size: 15px;
}

/************************************************/
article .attachments_desc, #search_results .attachments_desc {
	margin-bottom: 6px;
	font-size: 14px;
}

article .att_author, #search_results .att_author {
	display: none;
}

article .attachment_media, #search_results .attachment_media {
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 9px;
}

article .attachment_media img, #search_results .attachment_media img {
	height: 140px;
	max-width: unset;
}

article .attachments .img_desc, #search_results .attachments .img_desc {
	display: none;
}

#editor_attachments .attachment_file {
	display: inline-block;
}

#editor_attachments .attachment_file:hover::after {
    /* background: #ff4040; */
    content: '';
    color: #ff4040;
    font-family: 'Font Awesome 5 Free';
    float: right;
    height: 87%;
    width: 32px;
    margin-top: -42px;
    font-size: 27px;
    text-align: center;
    line-height: 41px;
}

/************************************************/
.sort_options {
	font-family: 'Font Awesome 5 Free';
    color: #bfbfbf;
    font-weight: bold;
    font-size: 14px;
    float: right;
    margin-top: -13px;
}

.sort_options div {
	display: inline-block;
}

.sort_options div:hover {
	display: inline-block;
	color: black;
}

.sort_options .selected {
	color: black;
}