.listed_user::before {
	content: "";
	background: #dadada;
	border-radius: 50%;
	width: 13px; height: 13px;
	float: left;
	margin-right: 6px;
}

.listed_user.online::before {
	background: #b7e4c1;
}

.listed_user {
	font-size: 15px;
	line-height: 16px;
	white-space: nowrap;
	margin-left: 18px; margin-bottom: 4px;
}

.listed_user:hover {
	color: black;
}

.listed_user .unread_msgs_count {
	display: inline-block;
	margin-left: 6px;
	font-size: 14px;
}

.listed_user.unread::after {
	margin-bottom: 0px !important;
}

.listed_user.selected {
	font-weight: bold;
}