#login {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background: url("../imgs/background_10.jpg") white 100% 34%;
	background-size: cover;
}

#login form {
	display: block;
}

#login_form_container, #user_form_container {
	position: fixed;
	top: 0; bottom: 0; left: 150px;
	width: 400px;
	background: white;
	font-size: 18px;
	color: #5f5f5f;
	padding: 20px;
}

#login label {
	display: block;
	margin-bottom: 15px;
}

#login input {
	font-size: 15px;
	border: none; border-radius: 4px;
	background: #f2f2f2;
	padding: 4px;
	float: right;
	width: 52%;
}

#login input[type=submit] {
	color: white;
	font-weight: bold;
}

/************************************************/
#install_form_container {
	position: fixed;
	top: 0; bottom: 0; left: 0;
	background: white;
	width: 600px;
	padding: 18px;
	box-sizing: border-box;
}

#install_form_container label {
	font-size: 16px;
}

#login h1 {
	text-transform: uppercase;
	margin: 0; margin-bottom: 20px;
	font-size: 27px;
	font-weight: normal;
	letter-spacing: 3.5px;
}

#login h2 {
	text-transform: uppercase;
	font-size: 17px;
	margin: 0; margin-bottom: 4px;
}