#main_page {
	width: 100%; height: 100%;
	box-sizing: border-box;
	padding: 25px;
}

.main_container_struct {
	width: 100%; height: 100%;
}

.main_container_struct td {
	vertical-align: top;
	border: none;
}

.main_container_struct .header {
	height: 65px;
}

#header_left, #panel_left {
	width: 300px;
	white-space: nowrap;
}

/************************************************/
.avatar_large {
	width: 43px; height: 43px;
	border-radius: 50px;
	float: left;
	margin-right: 13px;
}

/************************************************/
#header_left .listed_user {
	color: gray;
	font-size: 0.75em; line-height: 14px;
}

#header_left .listed_user::before {
	width: 12px; height: 12px;	
}

.company_name {
	font-weight: bold; font-size: 20px;
	white-space: nowrap; display: inline-block;
}

.company_name span {
	float: right;
	color: #a5a5a5;
	margin-left: 8px;
	font-size: 21px; line-height: 27px;
}

#header_left:hover .listed_user, #header_left:hover .company_name span {
	color: black;
}

/************************************************/
.top_icons {
	font-size: 22px;
	color: gray;
	float: right;
	margin-top: 2px;
}

.top_icons span {
	padding: 5px;
}

/************************************************/
#panel_left h2 {
	padding: 0; margin: 0;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
}

#create_room_name_field {
	color: white;
	border: none;
	font-size: 12px;
	padding-left: 4px; padding-right: 4px;
	margin-bottom: 1px;
}

/************************************************/
#send_msg_editor {
	border: none;
	height: 100px; min-height: 100px;
	background: none;
	border-top: 1px dashed;
	padding-top: 12px;
}

.press_enter_to_send_label {
	float: right;
	margin-bottom: 20px;
	margin-top: 7px;
	font-size: 12px;
}

/************************************************/
#panel_right {
	width: 219px;
	padding-left: 80px;
	white-space: nowrap;
	overflow-y: auto; height: 100%;
}

#panel_right h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-bottom: 10px;
}

#panel_right .attachment_file .att_size {
	display: none;
}

.apoapse_logo {
	text-transform: uppercase;
	position: fixed;
	bottom: 40px; right: 40px;
	font-size: 26px;
	color: #d3d3d3;

	display: none;
}

.apoapse_logo span {
	display: block;
	font-size: 11px;
}

/************************************************/
.create_thread_button {
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 12px;
	color: gray;
}

.create_thread_button:hover {
	color: black;
}

.create_thread_button span {
	font-size: 22px;
	margin-right: 8px;
	float: left;
}

.create_thread_button input {
	border: none;
	color: white;
	margin-top: -5px;
	padding-left: 4px; padding-right: 4px;
	width: 75%;
}

/*#threads_list {
	overflow: auto; height: 100%;
	padding-right: 15px;
}*/

/************************************************/
.dialog {
	display: none;
	position: fixed;
}

.dialog .clickable_item {
	
}

#dialog_mask {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background: rgba(0, 0, 0, 0.25);
}

/************************************************/
#dialog_user_menu {
	width: 300px; height: auto;
	top: 86px;
	padding: 17px;
	box-sizing: border-box;
}