#main_page {
	width: 100%; height: 100%;
	box-sizing: border-box;
	padding: 25px;
}

.main_container_struct {
	width: 100%; height: 100%;
}

.main_container_struct td {
	vertical-align: top;
	border: none;
}

.main_container_struct .header {
	height: 65px;
}

#header_left, #panel_left {
	width: 300px;
	white-space: nowrap;
}

/************************************************/
.avatar_large {
	width: 43px; height: 43px;
	border-radius: 50px;
	float: left;
	margin-right: 13px;
}

/************************************************/
#header_left .listed_user {
	color: gray;
	font-size: 0.75em; line-height: 14px;
}

#header_left .listed_user::before {
	width: 12px; height: 12px;	
}

.company_name {
	font-weight: bold; font-size: 20px;
	white-space: nowrap; display: inline-block;
}

.company_name span {
	float: right;
	color: #a5a5a5;
	margin-left: 8px;
	font-size: 21px; line-height: 27px;
}

#header_left:hover .listed_user, #header_left:hover .company_name span {
	color: black;
}

/************************************************/
.top_icons {
	font-size: 22px;
	color: gray;
	float: right;
	margin-top: 2px;
}

.top_icons span {
	padding: 5px;
}

/************************************************/
#panel_left h2 {
	padding: 0; margin: 0;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
}

#create_room_name_field {
	color: white;
	border: none;
	font-size: 12px;
	padding-left: 4px; padding-right: 4px;
	margin-bottom: 1px;
}

/************************************************/
#send_msg_editor {
	border: none;
	height: 100px; min-height: 100px;
	background: none;
	border-top: 1px dashed;
	padding-top: 12px;
}

.press_enter_to_send_label {
	float: right;
	margin-bottom: 20px;
	margin-top: 7px;
	font-size: 12px;
}

/************************************************/
#panel_right {
	width: 270px;
	padding-left: 37px;
	white-space: nowrap;
	position: relative;
}

#panel_right h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-bottom: 10px;
}

#panel_right .attachment_file .att_size {
	display: none;
}

.apoapse_logo {
	position: fixed;
	bottom: 10px; right: 11px;
	-webkit-mask: url(../imgs/apoapse_pro_logo.svg) no-repeat 50% 50%;
	background-color: #ADAAB4;
	width: 130px; height: 29px;
}

.apoapse_logo span {
	display: block;
	font-size: 11px;
}

#global_listed_attachments {
	height: 91%;
    width: 90%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}

/************************************************/
.create_thread_button {
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 12px;
	color: gray;
}

.create_thread_button:hover {
	color: black;
}

.create_thread_button span {
	font-size: 22px;
	margin-right: 8px;
	float: left;
}

.create_thread_button input {
	border: none;
	color: white;
	margin-top: -5px;
	padding-left: 4px; padding-right: 4px;
	width: 75%;
}

/*#threads_list {
	overflow: auto; height: 100%;
	padding-right: 15px;
}*/

/************************************************/
.dialog {
	display: none;
	position: fixed;
}

.dialog .clickable_item {
	
}

#dialog_mask {
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	background: rgba(0, 0, 0, 0.25);
}

/************************************************/
#dialog_user_menu {
	width: 300px; height: auto;
	top: 86px;
	padding: 17px;
	box-sizing: border-box;
}

/************************************************/
#searchbar {
	position: absolute;
	border-radius: 3px;
	top: -1px; left: 0; right: 70px;
	height: 32px;
}

#searchbar input {
	background: none;
	width: 100%;
	font-size: 18px;
	margin-top: 2px;
	font-weight: bold;
	color: white;
	padding-left: 7px; padding-right: 7px;
}

#searchbar .search_icon {
	color: white;
	font-size: 22px;
	position: absolute;
	top: 4px; right: 5px;
}

#searchbar #search_filter_button {
	color: white;
	font-size: 13px;
	border: 1px solid white;
	border-radius: 4px;
	text-transform: lowercase;
	position: absolute;
	top: 5px; right: 40px;
	padding: 1px; padding-left: 10px; padding-right: 10px;
}

#search_results {
	overflow: auto;
	height: 100%;
	padding-right: 15px;
}

#search_results h2 {
	color: gray;
	font-size: 20px;
	text-transform: lowercase;
	letter-spacing: 0.6px;
	margin: 0;
}

.search_results_section {
	margin-left: 45px; margin-top: 6px; margin-bottom: 29px;
}

/************************************************/
#dropfile_icon {
	color: white;
	font-size: 50px;
	position: fixed;
	width: 200px; height: 135px;
	line-height: 135px;
	text-align: center;
	background: white;
	border-radius: 5px;
	z-index: 1;
}

/************************************************/
.empty_page {
	position: absolute;
    top: 18%;
    font-size: 20px;
}

.empty_page input {
	display: block;
	color: white;
	padding: 5px;
}