article {
	margin-bottom: 35px;
	transition: all 1s;
	padding: 8px;
}

article .author {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

article .datetime {
	color: gray;
	font-size: 12px;
	display: table;
}

article .content {
	font-size: 15px;
	text-align: justify;
	margin-top: 10px;
	user-select: text;
}

article .attachments {
	margin-top: 15px;
}

article.unread {
	background: #e7e7e7;
}

/*---------------------------------------------*/
article .tag_section {
	margin-top: 4px;
}

article .tag_section div {
	display: inline-block;
}

article .tags div, .add_tag_button, .add_tag_field {
	/*border: 1px solid #d5d5d5;*/
	border-radius: 3px;
	color: #b3b3b3;
	font-size: 12px;
	margin-right: 5px;
	padding-left: 3px; padding-right: 3px;
}

article .tag_section div span, .add_tag_button span, .add_tag_field span {
	margin-right: 2px;
}

article .tag_section .add_tag_field input {
	background: none;
	margin-left: 1px;
	font-size: 12px;
	padding: 0;
}

article .tag_section .add_tag_field input:focus {
	background: none;
}

/*---------------------------------------------*/
.load_more_messages {
	background: #e8e8e8;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 17px;
}