#thread {
	overflow: auto; height: 100%;
	padding-right: 15px;
}

.listed_thread {
	min-height: 48px;
	margin-bottom: 26px;
}

.listed_thread .msg_preview {
	font-size: 12px;
	text-align: justify;
}

.listed_thread h2 {
	margin: 0;
	margin-bottom: 2px;
	font-size: 22px;
}

.listed_thread .listed_thread_unread_mgs {
	color: white;
	display: inline-block;
	width: 27px; height: 27px;
	border-radius: 100px;
	text-align: center;
	vertical-align: top;
	margin-left: 9px;
	line-height: 28px;
	font-size: 16px;
}

.listed_thread .avatar_large {
	width: 28px; height: 28px;
}

.listed_thread .unread_count {
	display: inline-block;
	font-size: 16px;
	background: white;
	width: 20px; height: 20px;
	text-align: center;
	border-radius: 20px;
	line-height: 21px;
	vertical-align: middle;
	margin-left: 10px;
}

.listed_thread:hover .msg_preview {
	color: black;
}

.listed_thread .attachment_file {
	display: inline-block;
	height: 24px;
    max-width: 200px; min-width: auto;
}

.listed_thread .attachment_file .att_icon {
	font-size: 16px;
}

.listed_thread .attachment_file .att_author {
	display: none;
}

.listed_thread .attachment_file .att_size {
	display: none;
}