body {
	background: #e2e2e2;
	font-family: sans-serif;
	font-size: 15px;
	cursor: default;
	user-select: none;
}

input {
	padding: 5px;
	border: 3px solid #fff;
	min-width: 275px;
	background: white;
	border-radius: 3px;
}

input[type=button], input[type=submit] {
	min-width: 75px;
	font-weight: bold;
}

input:focus {
	border: 3px solid #94fffa;
}

input:focus:invalid {
	border: 3px solid #ff3939;
}