#left_bar {
	background: #151515;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 292px;
	color: white;
	padding-left: 11px;
	font-size: 14px;
}

#left_bar h2
{
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 14px;
}

#left_bar .bar_item {
	height: 24px;
	line-height: 24px;
	margin-bottom: 6px;
}

#left_bar .bar_item:hover, #left_bar .activated {
	background: #5a5959;
}

#left_bar .bar_item .vignette {
	display: block;
	float: left;
	width: 24px; height: 24px;
	background: white;
	margin-right: 9px;
}

.bar_item_selected {
	background: #e81853;
}

#create_room_button {
	display: block;
	float: right;
	width: 24px; height: 24px;
	margin-top: -32px; margin-right: 4px;
	font-size: 22px; text-align: center;
}

#create_room_button:hover {
	color: #e81853;
}

/*---------------------------------------------*/
header {
	position: absolute;
	left: 319px; right: 0;
	font-size: 23px;
	color: gray;
	margin-top: 14px;
}

header a {
	font-size: 14px;
}

header a:hover {
	color: black;
}

header .nav_buttons {
	font-family: monospace;
	font-size: 34px;
}

header #global_path_title {
	margin-left: -10px;
	position: absolute;
	top: 8px; left: 101px;
	font-size: 18px;
}

header #global_path_title .selected_title {
	color: #e81853;
	font-weight: bold;
	font-size: 23px;
}

header #global_path_title #title_room_link:hover {
	color: #24a5a0;
}

header .search_bar_container {
	position: absolute;
	right: 18px; top: 4px;
}

header #admin_tools_button {
    text-align: right;
    position: absolute;
    right: 314px; top: 12px;
}

/*---------------------------------------------*/
.main_frame {
	position: absolute;
	left: 319px; top: 70px; right: 0; bottom: 14px;
}

#main_content {
	margin-right: 65px;
}

/*---------------------------------------------*/
.right_tabs {
	transform: rotate(90deg);
    position: absolute;
    top: 149px;
    right: -54px;
}

.right_tabs span {
    border-bottom: 4px solid #929292;
    padding: 2px;
    margin-right: 16px;
    color: #484848;
    font-size: 16px;
}

/*---------------------------------------------*/
.item_list {
	border: 1px solid #adadad;
	width: 100%;
	margin-bottom: 6px; margin-right: 65px;
	color: #656565;
	font-size: 13px;
	padding: 3px;
}

.item_list:hover {
	background: #f1f1f1;
}

.item_list:active {
	background: #b9b9b9;
}

.item_list .item_name {
	width: 200px;
	color: #e81853;
	font-size: 14px;
}

/*---------------------------------------------*/
#rooms_list .selected {
	background: #e81853;
}

/*---------------------------------------------*/
.screen {
	background: #151515;
	position: absolute;
	top: 0; bottom:32px; left: 0; right: 0;
	z-index: 2;
	color: white;
	padding-left: 100px;
}

.screen h1 {
	margin: 0;
	margin-bottom: 20px;
}

.screen table {
	color: white;
}

.screen table td
{
	min-width: 120px;
}

.screen input[type=submit] {
	margin-top: 27px;
}

/*---------------------------------------------*/
.dialog {
	display: none;
	margin: auto;
	position: absolute;
	left: 0; right: 0;
	width: 450px;
	min-height: 100px;
	background: white; box-shadow: 6px 6px 17px 0px #c3c3c3;
	padding: 9px;
}

.dialog table {
	width: 100%;
}

.dialog, .dialog table, .dialog input {
	color: #656565;
}

.dialog h2 {
	margin: 0;
	margin-left: -9px; margin-right: -9px; margin-top: -9px; margin-bottom: 14px;
	padding: 7px;
	background: #24a5a0;
	color: white; font-size: 19px;
}

.dialog input, .dialog textarea {
	background: #ececec;
	border-color: #ececec;
	margin-bottom: 5px;
}
